
  <nav class="navbar navbar-dark bg-dark mb-5">
      <a class="navbar-brand" [routerLink]="['index']">Exam System</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" [routerLink]="['index']">Home</a>
          <a class="nav-item nav-link" [routerLink]="['admin/users']">User</a>
          <a class="nav-item nav-link"  [routerLink]="['admin/questions']">Question</a>
          <a class="nav-item nav-link"  [routerLink]="['admin/invitations']">Question</a>
        </div>
      </div>
      <div>
        <a class="nav-item nav-link right" [routerLink]="['login']" style="float:right" *ngIf='!isLogin'>Login</a>
        <a class="nav-item nav-link right" [routerLink]="['login']" style="float:right"  *ngIf='isLogin'>Logout</a>
      </div>
    </nav>
    <div class="container">
    <router-outlet></router-outlet>
    </div>

