
  <nav class="navbar navbar-dark bg-dark mb-5">
      <a class="navbar-brand" [routerLink]="['index']">Exam System</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a class="nav-item nav-link " [routerLink]="['index']" [routerLinkActive]="'active'">Home</a>
          <!-- <a class="nav-item nav-link" [routerLink]="['admin/users']" [routerLinkActive]="'active'">User</a>
          <a class="nav-item nav-link"  [routerLink]="['admin/questions']" [routerLinkActive]="'active'">Question</a>
          <a class="nav-item nav-link"  [routerLink]="['admin/invitations']" [routerLinkActive]="'active'">Invitation</a> -->
          <li class="nav-item" *ngFor="let link of links">
              <a class="nav-item nav-link" [routerLink]="link.path" >{{ link.text }}</a>
            </li>
        </div>
      </div>
      <div>
        <!-- <a class="nav-item nav-link right" [routerLink]="['login']" style="float:right" *ngIf="!isLogin">Login {{isLogin}}</a>
        <a class="nav-item nav-link right" [routerLink]="" (click)="logOut()" style="float:right" *ngIf="isLogin">Logout {{isLogin}}</a> -->
        <li class="nav-item nav-link right" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="logout" (click)="logOut()">Log Out</a>
          </li>
          <li class="nav-item nav-link right" *ngIf="!isLoggedIn">
              <a class="nav-link" [routerLink]="['login']">Log In</a>
            </li>
      </div>
    </nav>
    <div class="container">
    <router-outlet></router-outlet>
    </div>

