
  <div class="form-horizontal crud-container">
      <h3>Welcome to exam system </h3>
    <h2>{{errorMess}}</h2>
    <h3 *ngIf="timeLeft>0">Time Left: {{timeLeft}}</h3>
    <form #formControl="ngForm">
      <p *ngFor='let question of result; let i = index' [attr.data-index]="i">

          <!-- <h5>Q{{i+1}}: {{question.question}}</h5>
            <div>Answer: <input type="text" id="{{question._id}}"/></div> -->
        <!-- <br/> -->

        <mat-form-field
            [floatLabel]="exam.value.floatLabel">
          <input matInput placeholder="Q{{i+1}}: {{question.question}}"  type="text" name="{{question._id}}" [(ngModel)]='question.answer' #{{question._id}}>
        </mat-form-field>
      </p>
      <button *ngIf="result" type="submit" (click)="submitAnswer()" >Submit</button>
    </form>

  </div>

